@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;     
}
body{
    font-family: 'Noto Sans KR', sans-serif;        
    font-size: 13px;
    line-height: 20px;
    color:#222;
}
img{
    vertical-align: top;
    border:0;
    width: 100%;
    height: auto;
}
ul ,ol{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
.hide{
    display: block;
    position: absolute;
    top:-99999px;    
    left:-99999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
fieldset{
    border: 0;
}
legend{
    display: none;
}
input{
    font-family: 'Noto Sans KR', sans-serif ;
    vertical-align: top;
}
.logo{
    display: block;
    text-indent: -99999px;
    background-image: url();
}

/* 기본 본문 공통 */

.pc{
    display: none;
}
#wrap{
	background-color : white;
    padding-top: 30px;
    display: flex;
    position: relative;
    min-width: 370px;
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
}

#headerIn{
    width: 250px;
    height: 80px;
    margin: 0 auto;
}

.logo{
    width: 100%;
    height: 100%;
}
.logo a{
    display: block;
    width: 100%;
    height: 100%;
    background-size: 250px 80px;
    background-repeat: no-repeat;
    background-image: url(/resources/img/logo.png);
}
.gnb1{
    position: sticky;
    top: 0;
    z-index: 500;
    margin-top: 20px;
    width: 100%;
    height: 80px;
    margin-bottom: 50px;

}
.gnb1 ul{
    padding: 0;
    display: flex;
}
.gnb1 ul li {
    width: 33.33%;
}
.gnb1 ul li a{
    display: block;
    border: 1px solid black;
    line-height: 50px;
    color: black;
    font-size :17px;
    text-decoration: none;
    background-color: rgb(13, 14, 13);
    box-shadow: 2px 1px 5px 1px yellow;
    display: flex;
    justify-content: center;
    font: bolder;
    color: white;
}




/* 게시판 글 디테일 */
.goHome{
	margin-left :20px;
	margin-bottom : 40px;
	font-size : 17px;
}
#container{
	width: 100%;
	
}
.detailBox{
	width: 80%;
	margin :0 auto;
}
.detailTop ul li p{
	height : 30px;
    font-size : 20px;
}
.writer{
	height : 30px;
	padding-left : 33px;
	padding-top : 9px;
	background-image : url(/resources/img/premium-icon-user-4526821.png);
	background-size : 30px;
	background-position : 0px 5px;
	background-repeat : no-repeat;
	margin-bottom : 20px;
}
.textarea{
	padding-top : 20px;
	font-size : 17px;
	border-bottom : 1px solid black;
}
.modifyBtn{
	line-height : 30px;
	box-sizing: border-box;
	text-align : center;
	display :block;
	width: 120px;
	height : 30px;
	font-size :15px;
	background-color : white;
	text-decoration : none;
	color : black;
	font-weight: bolder;
	border : 1px solid black;
}
.modifyBtn:hover{
	color : white;
	background-color : black;
	font-weight : bolder;
}
.replyBox{
	width : 70%;
	margin : 0 auto;
}
.replyListBox{
	font-size : 13px;
	padding : 20px;
	width: 100%;
}
.replyList li{
	font-size :15px;
	margin-bottom : 10px;
	border-bottom : 1px solid black;
}
.col-lg-6{
	position : absolute;
	right : 0;
	width :200px;
	height : 100px;
}
.panel-heading{
	background-image : url(/resources/img/chat-comment.png);
	background-size : 30px 30px;
	background-position : 20px 10px;
	text-indent : -99999px;
	background-repeat: no-repeat;
}
#addReply{
	width: 100%;
	height : 100%;
	background-color : black;
	color: white;
	font-weight : bolder;
}
#uploadResult{
	width : 100%;
}

#uploadResult img{
	width : 100%;
	max-width : 600px;
	height : 300px;
	margin-bottom : 40px;
}
.btn{
	background-color : black;
	color : white;
	font-weight : bolder;
}
.like_count{
	display : inline-block;
	font-size : 22px;
	margin-top : 8px;
	margin-left : 10px;
}
@media screen and (min-width : 768px){
.detailBox{
	width : 65%
}
.replyBox{
	position : relative;
	display : flex;
	justify-content: space-between;
	width : 60%;
	margin : 0 auto;
}
.replyListBox{
	font-size : 15px;
	padding : 20px;
	width: 60%;
}
#uploadResult ul li{
	width : 70% ;
	margin : 0 auto;
}
#uploadResult img{
	width : 100%;
	height : 500px;
}
.modifyBtn{
	font-size : 20px;
	line-height : 45px;
	box-sizing: border-box;
	text-align : center;
	display :block;
	width: 180px;
	height : 45px;
	background-color : white;
	text-decoration : none;
	color : black;
	font-weight: bolder;
	border : 1px solid black;
}
} 
/* 태블릿 종료 */

